* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: whitesmoke;
  width: 100vw;
  height: 100vh;
  padding: 40px;
}

header {
  background: #ccc;
  width: 100%;
  text-align: center;
}

main {
  padding: 40px;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size:2.4rem;
  margin: 0 0 12px 0;
}

li {
  font-size: 1.6rem;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav > button {
  margin: 10px;
}

.recipe {
  margin: 0 0 12px 0;
  font-size: 1.4rem;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}